.tab-color{
    color: #f2b107;
}
.tab-color2{
    color: #424BFB;
}
.mini-btn-active{
    color:#0642df
}
.mini-btn{
    color: rgba(203, 228, 235, 1)
}

.desc-icon{
    color: rgba(6, 66, 223, 1)
}

.desc-btn{
    color: rgba(234, 238, 255, 1)
}


.backgroundClr{
    background-color:#f5f8fc !important;
}