
@media all and (min-width:0px) and (max-width: 768px) {
    .mycontainer{
        padding: 16px !important;
        padding-top: 26px !important;
    }
    .title-info{
        margin-top: 0 !important;
        margin-bottom: 32px !important;
    }

    .col-pad{
        padding-left: 0px !important;
        padding-right: 16px !important
    }
    .info-card{
        padding-top: 45px;
        padding-bottom: 24px !important;
    
      }
    .list-cnt{
        padding-left: 16px !important;
        padding-right: 0px !important;
    }
    .table-cnt{
        padding: 0px 25px 25px 32px;
    }
    .header-title{
        padding: 16px 10px;
    }
    .signlayout{
        padding-inline: 32px !important;
        padding-top: 100px !important;
    }
    .MuiDialogActions-root{
        padding: 16px !important;
    }
    .mb-24{
        margin-bottom: 24px ;
    }
    
}

@media  only screen and (min-width:769px) {
    .mycontainer{
        padding: 32px  24px !important;
    }
    .mycontainercol{
        padding: 18px !important;
        padding-top: 42px !important;
    }
    .title-info{
        margin-top: 20px !important;
        margin-bottom: 32px !important;
    }
    .col-pad{
        padding-left: 16px !important;
        padding-right: 16px !important
    }
    .info-card{
        padding-top: 65px;
        padding-bottom: 24px !important;
    }
    .list-cnt{
        padding-right: 20px !important;
        padding-left: 35px !important;
    }
    .table-cnt{
        padding: 10px 25px 25px 32px;
    }
    .header-title{
        padding: 22px 20px;
    }
    .border-right-desk {
        border-right: 1px solid #cbe4eb;
        padding-right: 32px;
    }
    .signlayoutcnt{
        padding-right: 48px !important;
        padding-left: 98px !important;
        padding-top: 68px !important;
        padding-bottom: 24px !important;
    }
    .signlayout{
        padding-inline: 48px !important;
        padding-top: 160px !important;
        padding-bottom: 24px !important;

    }
    .MuiDialogActions-root{
        padding: 24px !important;
    }
    .slidbox{
        left: 0;
        right: 0;
        margin-top: 20%;
    }
    
    
}

@media  only screen and (max-width:991px) {
    .box-data{
        margin-bottom: 16px;
    }
    .slidbox{
        left: 0;
        right: 0;
        margin-top: 25%;
    }
}

.copyright{
    position: absolute;
    bottom: 25px;
    height: 28px;
    width: auto;
    font-size: 16px;
    font-weight: 200;
    color: rgba(0, 0, 0, 1);
    align-items: center;
}

.table-bordering{
    border-color: #cbe4eb;
    border-radius: 8px !important;
}